<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>People</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<h3>Szukaj po imieniu badz wieku</h3>
<form action="/people/search" method ="post">
    <input type="text" name="option">
    <input type="submit" name="szukaj">
</form>

<div class="container">
    <h2>People</h2>
    <p th:if="${message}"
       th:text="${message}"
       style="color: greenyellow"></p>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Age</th>
            <th>Delete</th>
            <th>Update</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="person : ${people}">
            <td th:text="${person.id}"></td>
            <td th:text="${person.name}"></td>
            <td th:text="${person.age}"></td>
            <td>
                <a data-th-href="@{|/people/${person.id}/delete|}">
                    Usuń
                </a>
            </td>
            <td>
                <a data-th-href="@{|/people/${person.id}/update|}">
                    UpDate
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<a href="/add">Dodaj nowa osobe</a>

</body>